<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- recaptcha -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>Contact Form!</title>
</head>

<body>
    <div class="container">
        <br>
        <div class="jumbotron">
            <center>
                <h1 class="display-4">Contact Us</h1>
            </center>
            <!-- <p class="lead">This is a simple contactForm.</p> -->
            <hr class="my-4">
            <form>
                <div class="form-group">
                    <label for="name">Enter Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required>
                    <br>
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                    <br>
                    <label for="subject">Enter Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Enter Subject" name="subject">
                    <br>
                    <label for="message">Message</label>
                    <textarea class="form-control" rows="5" id="message" placeholder="Message"
                        name="message"></textarea>
                </div>
                <!--  set the loader on clicking the button title the message is send -->
                <button class="g-recaptcha btn btn-success" data-sitekey="<%= siteKey%>"
                    data-callback='onSubmit'>Submit</button>
            </form>
        </div>
    </div>

    <!-- recaptcha -->

    <script>
        function onSubmit(token) {
            const name = document.querySelector('#name').value;
            const message = document.querySelector('#message').value;
            const subject = document.querySelector('#subject').value;
            const email = document.querySelector('#email').value;
            const captcha = document.querySelector('#g-recaptcha-response').value;
            fetch('/', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-type': 'application/json'
                },
                body: JSON.stringify(
                    {
                        name: name,
                        message: message,
                        subject: subject,
                        email: email,
                        captcha: captcha
                    })
            })
                .then((res) => res.json())
                .then((data) => {
                    if (data.msg === 'Success') {
                        alert('We received your mail');
                    } else if (data.msg === 'Fail') {
                        alert('Oops we loss send it again');
                    } else {
                        alert('validation Error see the Console');
                    }
                });
        }
    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>